{% extends "layout.html" %}
{% block title %}Create Groups{% endblock %}
{% block content %}
<h1 class="mt-4">Create Groups</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Create Groups</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-file-arrow-up"></i>
                Table File Upload
            </div>
            <form action="/create-groups/file-upload" method="post" enctype=multipart/form-data>
                <div class="card-body">
                    <label class="form-label" for="customFile">Upload CSV or Excel File with Students and Groups</label>
                    <div class="row g-3">
                        <div class="col-auto">
                            <input name="file" type="file" class="form-control" id="customFile"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-sliders"></i>
                Controls
            </div>
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="row g-3">
                        <div class="col-auto">
                            <label class="form-label" for="select-course-id">Course</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="select-course-id">
                                    {% if course_id is not none %}
                                    {{ course_id }}
                                    {% else %}
                                    Select
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if courses is not none %}
                                    {% for key,value in courses.items() %}
                                    <li><a class="dropdown-item" href="/create-groups/course/{{key}}">{{value}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="select-group">Group name column</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="select-group">
                                    {% if group_column_name is not none %}
                                    {{ group_column_name }}
                                    {% else %}
                                    Select
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if columns is not none %}
                                    {% for col in columns %}
                                    <li><a class="dropdown-item" href="/create-groups/groupname/{{col}}">{{col}}</a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="column-name">Email/Moodle-ID</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="column-name">
                                    {% if column_name is not none %}
                                    {{ column_name }}
                                    {% else %}
                                    Select
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if columns is not none %}
                                    {% for col in columns %}
                                    <li><a class="dropdown-item" href="/create-groups/column/{{col}}">{{col}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-auto">
                            {% if course_id is none or column_name is none %}
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Enroll missing
                                students</a>
                            {% else %}
                            <a class="btn btn-secondary" href="/create-groups/enroll" role="button">Enroll missing
                                students</a>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            {% if course_id is none or column_name is none or columns is none %}
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Create Groups</a>
                            {% else %}
                            <a class="btn btn-secondary" href="/create-groups/create" role="button">Create Groups</a>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            {% if group_names is none %}
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Add students to
                                groups</a>
                            {% else %}
                            <a class="btn btn-secondary" href="/create-groups/add" role="button">Add students to
                                groups</a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Students Preview
            </div>
            <div class="card-body">
                {% if students is not none %}
                {{ students|safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Groups Preview
            </div>
            <div class="card-body">
                <div class="col-xl-4">
                    {% if groups_preview is not none %}
                    {{ groups_preview|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>


{% endblock %}