{% extends "layout.html" %}
{% block title %}Create Groups{% endblock %}
{% block content %}
<h1 class="mt-4">Create Groups</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Create Groups</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-file-arrow-up"></i>
                Table File Upload
            </div>
            <!--            <form action="/create-groups/file-upload" method="post" enctype=multipart/form-data>-->
            <div class="card-body">
                <label class="form-label" for="fileupload">Upload CSV or Excel File with Students and Groups</label>
                <div class="row g-3">
                    <div class="col-auto">
                        <input name="fileupload" type="file" class="form-control" id="fileupload"/>
                    </div>
                    <div class="col-auto">
                        <button onclick="uploadFile()" class="btn btn-primary" id="upload-button">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-sliders"></i>
                Controls
            </div>
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="row g-3">
                        <div class="col-auto">
                            <label class="form-label" for="select-course-id">Course</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="select-course-id">
                                    Select
                                </button>
                                <ul class="dropdown-menu" id="select-course-list">
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="select-group">Group name column</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="select-group">
                                    Select
                                </button>
                                <ul class="dropdown-menu" id="select-group-list">
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="form-label" for="column-name">Email/Moodle-ID</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" id="column-name">
                                    Select
                                </button>
                                <ul class="dropdown-menu" id="column-name-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-auto" id="enroll-button">
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Enroll missing
                                students</a>
                        </div>
                        <div class="col-auto" id="create-button">
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Create Groups</a>
                        </div>
                        <div class="col-auto" id="add-button">
                            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Add students to
                                groups</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Students Preview
            </div>
            <div class="card-body" id="student-preview">
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Groups Preview
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col">
                        <label class="form-label" for="column-name">New Groups</label>
                        <div id="groups-preview">

                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="column-name">Current Groups</label>
                        <div id="current-groups-preview">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Course Links
            </div>
            <div class="card-body">
                <div class="row g-3" id="course-links">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/create_groups.js') }}"></script>
{% endblock %}