{% extends "layout.html" %}
{% block title %}App{% endblock %}
{% block content %}
<h1 class="mt-4">Create Groups</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Create Groups</li>
</ol>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-file-arrow-up"></i>
                Table File Upload
            </div>
            <form action="/create-groups/file-upload" method="post" enctype=multipart/form-data>
                <div class="card-body">
                    <label class="form-label" for="customFile">Upload CSV or Excel File with Students and Groups</label>
                    <div class="row g-3">
                        <div class="col-auto">
                            <input name="file" type="file" class="form-control" id="customFile"/>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-sliders"></i>
                Controls
            </div>
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="row g-3">
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {% if course_id is not none %}
                                    {{ course_id }}
                                    {% else %}
                                    Select course
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if courses is not none %}
                                    {% for key,value in courses.items() %}
                                    <li><a class="dropdown-item" href="/create-groups/course/{{key}}">{{value}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {% if group_column_name is not none %}
                                    {{ group_column_name }}
                                    {% else %}
                                    Select groupname column
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    {% if columns is not none %}
                                    {% for col in columns %}
                                    <li><a class="dropdown-item" href="/create-groups/groupname/{{col}}">{{col}}</a>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {% if column_name is not none %}
                                    {{ column_name }}
                                    {% else %}
                                    Select course
                                    {% endif %}
                                    Select Email/ID column
                                </button>
                                <ul class="dropdown-menu">
                                    {% if columns is not none %}
                                    {% for col in columns %}
                                    <li><a class="dropdown-item" href="/create-groups/column/{{col}}">{{col}}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary">Enroll missing students</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary">Create Groups</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary">Add students to groups</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Students Preview
            </div>
            <div class="card-body">
                {% if students is not none %}
                {{ students|safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Groups Preview
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}