{% extends "layout.html" %}
{% block title %}App{% endblock %}
{% block content %}
<div class="container">
    <h1>App</h1>
    <form action="/todo/add" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo..." class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">Add Todo</button>
        </div>
    </form>

    <ul class="list-group">
        {% for todo in todo_list %}
        <li class="list-group-item">
            <span>{{ todo.title }}</span>
            <a href="/todo/delete/{{ todo.id }}">Delete</a>
            {% if todo.complete == True %}
            <a href="/todo/update/{{ todo.id }}">Mark Incomplete</a>
            {% else %}
            <a href="/todo/update/{{ todo.id }}">Mark Complete</a>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}